/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #130024, #000000); /* Púrpura oscuro a negro */
    min-height: 100vh; /* Asegura que el gradiente cubra toda la altura de la ventana */
    margin: 0;
    position: relative; /* Para posicionar las estrellas absolutas */
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}

.tilt-card {
  perspective: 1000px;
}
.tilt-inner {
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
}

/* Contenedor general para ocultar scroll nativo si quieres */
.scroll-progress::-webkit-scrollbar {
  width: 6px;
}

.scroll-progress::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-progress::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #06b6d4, #0891b2); /* cyan 500 a 700 */
  border-radius: 6px;
  transition: background 0.3s;
}

.scroll-progress::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #22d3ee, #06b6d4); /* hover más brillante */
}


 /* Scroll personalizado para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 2px;  /* mucho más delgada */
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: #121212;  /* fondo sutil y oscuro */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00ffe1;  /* color neón tipo tech */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #00bfa6;
  }
  
  /* Para Firefox */
  * {
    scrollbar-width: thin; /* ya es delgada por defecto */
    scrollbar-color: #00ffe1 #121212;
  }


  /* Contenedor para las estrellas */
.stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Para que esté detrás del contenido principal */
    overflow: hidden;
}

/* Base de las estrellas (una sola estrella con múltiples sombras) */
.star {
    width: 2px; /* Tamaño de la estrella */
    height: 2px;
    background-color: white; /* Color de la estrella */
    border-radius: 50%; /* Para que sean redondas */
    position: absolute;
    /*animation: twinkle 2s infinite alternate;  Animación de parpadeo */
    animation: twinkle 2s infinite alternate, moveStar 30s linear infinite; /* Añadir otra animación */
    opacity: 0; /* Empieza invisible y se revela con JS */
}

/* Animación de parpadeo */
@keyframes twinkle {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

/* Nueva animación de movimiento */
@keyframes moveStar {
    0% { transform: translate(0, 0); }
    100% { transform: translate(100px, 50px); /* Ajusta los valores para un movimiento sutil */ }
}